<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
</head>
<body>

    <div class="min-h-screen flex flex-row bg-gray-100">
        <div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
          <div class="flex items-center justify-center h-20 shadow-md">
            <h1 class="text-3xl uppercase text-indigo-500">TIL</h1>
          </div>
          <ul class="flex flex-col py-4">
            <li>
              <a href="/" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-home"></i></span>
                <span class="text-sm font-medium">Home</span>
              </a>
            </li>
            {% if request.user.is_authenticated %}
              <li>
                <a href="{% url 'feed:new_post' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-plus"></i></span>
                <span class="text-sm font-medium">Create</span>
                </a>
              </li>
              <li>
                  <a href="{% url 'account_logout' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                  <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-log-out"></i></span>
                  <span class="text-sm font-medium">Logout</span>
                  </a>
              </li>
            {% else %}
              <li>
                  <a href="{% url 'account_login' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                  <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-log-in"></i></span>
                  <span class="text-sm font-medium">Login</span>
                  </a>
              </li>
            {% endif %}
          </ul>
        </div>

        <div class="p-16">
            {% block body %}
                {% block content %}{% endblock %}
            {% endblock %}
        </div>
    </div>
    

    <!-- component -->
    {% if request.user.is_authenticated %}
    <div class="fixed left-0 top-0 flex h-full w-full items-center justify-center bg-black bg-opacity-50 py-10 hidden js-modal">
      <div class="max-h-full w-full max-w-xl overflow-y-auto sm:rounded-2xl bg-white">
        <div class="w-full">
          <div class="m-8 my-20 max-w-[400px] mx-auto">
            <div class="mb-8">
              <h1 class="mb-4 text-3xl font-extrabold">New Post</h1>
              <p class="text-gray-600">{# TODO: add ajax form #}</p>
            </div>
            <div class="space-y-4">
              <button class="p-3 bg-black rounded-full text-white w-full font-semibold" type="button">Create Post</button>
              <button class="p-3 bg-white border rounded-full w-full font-semibold">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

</body>
</html>